table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #1a1a1a;
  }
  
  th, td {
    border: 1px solid #969595;
    padding: 8px;
    color: aliceblue;
  }
  
  th {
    background-color: #2f4762;
    font-weight: bold;
  }
  